table {
    width: 90%;
    border-collapse: collapse;
    margin: 80px auto;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
    color: #4CAF50;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f0f0f0;
}

#memberAddButton, #memberDeleteButton, #memberUpdateButton {
    position: absolute;
    top: 220px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
}

#memberAddButton {
    right: 200px;
}

#memberDeleteButton {
    right: 320px;
}

#memberUpdateButton {
    right: 430px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: left;
}

#memberForm, #updateMemberForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#memberSearchInput {
    top: 220px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin-left: 50px;
}

#memberSearchInput:focus {
    outline: none;
    border-color: #4CAF50;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}

.modal-content div {
    margin-top: 20px;
}

.modal-content button {
    margin: 0 10px;
}
